<twig:Admin:Page title="Test Page" :breadcrumbs="breadcrumbs">
    <twig:block name="actions">
        <a href="/test" class="btn btn-primary">Test Action</a>
    </twig:block>

    <p>Test page content</p>
</twig:Admin:Page>
