# IMPORTANT:
# - COMPOSE_PROJECT_NAME defines container/volume isolation across projects.
# - Use a unique value per project.

COMPOSE_PROJECT_NAME=symfony-skeleton

POSTGRES_PORT=5432

POSTGRES_DB=app
POSTGRES_USER=app
POSTGRES_PASSWORD=app
