{% set footerConfig = admin_footer() %}

<footer class="content-footer footer bg-footer-theme">
    <div class="container-xxl">
        <div class="footer-container d-flex align-items-center justify-content-between py-4 flex-md-row flex-column">
            <div class="text-body">
                {% if footerConfig.url %}
                    <a href="{{ footerConfig.url }}" class="footer-link">{{ footerConfig.text }}</a>
                {% else %}
                    {{ footerConfig.text }}
                {% endif %}
            </div>
        </div>
    </div>
</footer>
